<h1>Add New Student</h1>
<form name="myForm">
    <div>
        ID: <br>
        <input type="text" name="id" ng-model="student.id" required>
        <span ng-show="myForm.id.$error.required" class="error">ID is required!!</span>
    </div>
    <div>
        Name: <br>
        <input type="text" name="name" ng-model="student.name" required>
        <span ng-show="myForm.name.$error.required" class="error">Name is required!!</span>
    </div>
    <div>
        Mark: <br>
        <input type="number" name="mark" ng-model="student.mark" required>
        <span ng-show="myForm.mark.$error.required" class="error">Mark is required!!</span>
    </div>
    <div>
        <input type="submit" value="submit" ng-click="add()" ng-disable="myForm.$invalid">
    </div>
</form>